body {
    margin: 0;
    background: darkslategray;
    text-align: center;
}
h1{
    color: whitesmoke;
    margin: 75px 300px 300px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin: 0px 500px 500px 1000px;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}